@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');

/* div titulo com imagem */

.img_noticia{
    width: 100.1%;
    /* height: 670px; */
    height: 101.5vh;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    position: absolute;
    filter: brightness(50%);
    background-attachment: fixed;
}

.div_total{
    width: 100%;
    height: 550px;
    margin: -10px 0 12vw -10px;
    position: absolute;
    top: 0px;
    text-align: justify;
}

.p_titulo_div{
    bottom: -60px;
    margin: -100px 250px;
    position: absolute;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.p_titulo_div p{
    text-align: center;
    cursor: pointer;
    font-family: 'BebasNeueRegular';
}

#p_data{
    text-align: left;
}

.up_btn{
    border: 2px solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    border-radius: 1px;
    transition: 500ms;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);

}
/**
*** Seta para BAIXO
**/

.up {
    margin-bottom: 20px;
    margin-top: 150px;
    border: 2px solid white;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 25px;
    border-radius: 7px;
    transition: 900ms;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    cursor:  pointer;
}

.down{    
    margin-bottom: 25px;
    margin-top: -65px;
    border: 2px solid white;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 25px;
    border-radius: 7px;
    transition: 900ms;
    cursor:  pointer;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* ----------------- */

/* div da matéria */

#p_conteudo{
    font-size: 25px;
    color: white;
}

.p_materia{
    background-color:rgba(0,0,0,0.5);
    padding: 50px;
    margin: 670px 15vw 0px 15vw;
    text-align: justify;
    color: white;
    border-radius: 10px;
    font-family: 'Zilla Slab', serif;
}

/* botão para subir */

#topBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 22px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #4bd7c8; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
}
  
  #topBtn:hover {
    background-color: #333;
    color: #4bd7c8; 
  }