@import url('https://fontlibrary.org/face/bebas');


body{
    background-repeat: no-repeat;
    background-image: url(../img/fundos/bkg.jpg);
    background-size: cover;
    background-attachment: fixed;
    cursor: url(../img/cursor/GrayGlowingCursor.cur), default;
    z-index: -1;
}   

html{
    scroll-behavior: smooth;
}

/* nav bar home */

#feed p{
    font-family: 'BebasNeueRegular';
    font-size: 35px;
}

#navbar{
    position: sticky;
    background-color: rgba(255, 255, 255, 0.4);
    list-style-type: none;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    z-index: 1;
    font-family: 'BebasNeueRegular';
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    height: 55px;
}

.opcoes{
    display: flex;
    align-items: center;
}

.search{
    margin-bottom: 7px;
    margin-right: -15px;
}

.opcao_login{
    margin-left: -10px;
    margin-right: 15px;
    color: #4bd7c8;
    cursor: pointer;
    transition: 200ms;
}

#navbar img{
    background-color: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
}

a{
    display: block;
    color: white;
    margin-left: 15px;
    padding: 12px;
    margin-right: 0px;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 1px;
}

.l{
    display: block;
    color: white;
    margin-left: 15px;
    padding: 15px;
    margin-right: 0px;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 200ms;
    text-align: center;
}


a:hover{
    color:  #4bd7c8;
    cursor: pointer;
    transition: 300ms;
    text-align: center;
    font-size: 28px;
}

.active:hover{
    color: white;
}

.active{
    background-color: #4bd7c8;
    color:  white;
    transition: 300ms;
    transition-property: initial;
    font-size: 28px;
}

#search_active{
    display: none;
}

#pesquisa_input{
    transition: 300ms;
    width: 250px;
    background-color: transparent;
    border: transparent;
    outline: none;
    font-size: 25px;
    color: white;
    font-family: 'BebasNeueRegular';
    display: none;
}

#pesquisa_label{
    cursor: pointer;
}

#pesquisa_div{
    align-content: center;
    cursor: pointer;
}

#pesquisa_div.active {
    background-color: #4bd7c8;
    color:  white;
    transition: 300ms;
    transition-property: initial;
    padding-left: 8px;
    font-size: 28px;
}

#pesquisa_div.active > #pesquisa_input{
    display: block;
}

#pesquisa_input::placeholder{
    color: white;
    text-transform: capitalize;
}

#pesquisa_div {
    transition: 300ms;
    display: flex;
}

/* animacao navbar */

.sticky{
    position: sticky;
    top: 0;
}

/* sessão do usuário */

.div_user{
    position: fixed;
    border-radius: 7px;
    border: solid black;
    display: flex;
    box-shadow: 1px 1px 2px 2px black;
    background-color: white;
    margin: 15vh 45vw 25vh 40vw;
    z-index: 1;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 10px;
    font-family:'BebasNeueRegular';
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.8);
}


/* botões de cima */

.topbar_user{
    margin-bottom: 10px;
}
.topbar_user img{
    cursor: pointer;
}

.logout_img{
    float: left;
}
.exit_img{
    float: right;
}

/* ----------------------------- */

.user_logado{
    margin-top: 40px;
}


#topBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 22px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #4bd7c8; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
}
  
  #topBtn:hover {
    background-color: #333;
    color: #4bd7c8; 
  }